<nav class="navbar navbar-light bg-light">
  <div class="menu-container">
  <h3> Transactions App </h3>
  <ul>
    <li><%= link_to "Categories", categories_path %></li>
  </ul>
  <div class="user-data">
    <% if user_signed_in? %>
      <%= current_user.full_name%>
      <%= button_to 'Logout', destroy_user_session_path, method: :delete %>
    <% else %>
      <span>Guest</span>
    <% end %>
  </div>
  </div>
</nav>